.dropDown{
  position: relative;

}

.dropDownNav{
  position: absolute;
  display: none;

}



.dropDown:hover > .dropDownNav{
  display: flex;
  flex-direction: column;
  background-color: pink;

}

.dropDownNav li:hover{
  background-color: red;
}
