@import url('https://fonts.googleapis.com/css?family=Roboto|Slabo+27px');

header,#firstPhoto, .kidIntro{

	display: flex;
	flex-direction: column;
}

* {
	box-sizing: border-box;

}
html {
    font-size: 16px;
    line-height: 1.4rem;
		background-image: url(../img/bg.jpg);
}
img {
	width: 100%;
    max-width: 100%;

}

footer {
    margin: 4rem 0rem;
    padding: 2rem 0rem;
    border-top: 1px solid #ccc;
    font-size: .8rem;
}

h1,h2,h3,h4{
	font-family: 'Slabo 27px', serif;
	/* border-style: solid none;
	width:400px; */

}

body{
	font-family: 'Roboto', sans-serif;
	background-image: url(../img/bg.jpg);

}

header h1{
	float: left;
	padding:10px;
}
header nav{
	padding-top: 20px;
	float: left;
}

a{
	text-decoration: none;
	color: grey;

}
a:hover{
	text-decoration: underline;
	text-decoration-color: red;
	text-decoration-style: solid;


}
blockquote{
	text-align: center;
}

footer{
	/* text-align: left; */
}


#firstPhoto img{
	float: left;
	/* width: 66%; */

}

#firstPhoto blub{
	float: right;
	/* max-width: 33%; */


}

#firstPhoto {
/* display: inline;
width: 100%; */
}



#topMenu li{

	display: inline;
	border-right:1px solid;
	padding: 0 0.2em;

}

#topMenu li:first-child{
	border-left: 1px solid;
}

#contentContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;

}



.kidIntro, #firstPhoto {
	/* clear:both */
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: thick black 2px;


}



.topper{
	text-align: center;
	text-decoration: underline;
	text-decoration-color: red;
	border-bottom:
}



.imageGallary{

	display: flex;
	flex-direction: row;
	border: 5px;

	/* display: inline; */

}

.row {
  display: flex;

}

.columnA {
  flex: 66%;
}

.columnB {
  flex: 33%;
}
.columnC{

	flex: 60%;
}
